@model footballapp.Models.Team

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Team</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
        <div>
            <div class="fixed-action-btn right">
                <a href="@Url.Action("Index", "Teams")" class="btn-floating btn-small" style="background-color: #F30617;">
                    <i class="large material-icons">arrow_back</i>
                </a>
            </div>
        </div>
    }
</div>
